.idea/
target/
dependency-reduced-pom.xml
.DS_Store
*.iml
phantomjsdriver.log
pom.xml.releaseBackup
release.properties

/attic/
checks.d/
conf.d/
src/main/resources/git.properties

config.yml
shmaudit.conf
