checks:
  aws_iam:
    enabled: true
    access_key:
    access_key_secret:
    maximum_user_inactivity_days: 180
    maximum_access_key_inactivity_days: 90
    minimum_password_length: 18
    maximum_password_age: 180

  aws_security_groups:
    enabled: true
    access_key:
    access_key_secret:
    critical_ports_inbound:
      - tcp/22
      - tcp/445
      - tcp/139
      - tcp/3389
      - udp/3389
      - tcp/3306
    critical_ports_outbound:
      - udp/53
      - tcp/21
      - tcp/25
      - tcp/465
      - tcp/587

  github_organization:
    enabled: true
    organization_name:
    username: 
    access_key:

  slack_team:
    enabled: true
    oauth_token:

  website_download:
    enabled: true