attic_folder: attic/

checks:
  - type: aws_iam
    id: a-descriptive-id
    severity: warning
    tags:
      - aws
      - fast
    enabled: false
    access_key:
    access_key_secret:
    maximum_user_inactivity_days: 180
    maximum_access_key_inactivity_days: 90
    minimum_password_length: 18
    maximum_password_age: 180

  - type: aws_security_groups
    id: a-descriptive-id
    severity: warning
    tags:
      - aws
      - fast
    enabled: false
    access_key:
    access_key_secret:
    critical_ports_inbound:
      - tcp/22
      - tcp/445
      - tcp/139
      - tcp/3389
      - udp/3389
      - tcp/3306
    critical_ports_outbound:
      - udp/53
      - tcp/21
      - tcp/25
      - tcp/465
      - tcp/587

  - type: github_organization
    id: a-descriptive-id
    severity: critical
    tags:
      - github
      - fast
    enabled: false
    organization_name:
    username:
    access_key:

  - type: slack_team
    id: a-descriptive-id
    severity: critical
    tags:
      - slack
      - fast
    enabled: false
    oauth_token:

  - type: website_download
    id: a-descriptive-id
    severity: emergency
    tags:
      - supplychain
      - slow
    enabled: false
    url:
    css_selector:
    css_selector_index: 0
    expected_sha256_checksum:
    archive_matched_files: false
    archive_mismatched_files: true

  - type: website_link_target
    id: a-descriptive-id
    severity: emergency
    tags:
      - supplychain
      - slow
    enabled: false
    url:
    css_selector:
    css_selector_index: 0
    expected_target:
    archive_mismatches: true
    archive_matches: false

  - type: website_redirect
    id: a-descriptive-id
    severity: emergency
    tags:
      - supplychain
      - slow
    enabled: false
    url: http://example.com/
    expected_final_target: https://www.example.com/
    archive_mismatches: true
    archive_matches: false

  - type: dns
    id: a-descriptive-id
    severity: emergency
    tags:
      - supplychain
      - fast
    enabled: false
    dns_server: 8.8.8.8
    dns_question:
    dns_question_type:
    expected_answer:
      -
      -

  - type: graylog_users
    id: a-descriptive-id
    severity: warning
    tags:
      - graylog
      - fast
    enabled: false
    graylog_api_url: https://graylog.example.com/api
    username: bob
    password: secret
    maximum_user_inactivity_days: 30