attic_folder: attic/

checks:
  - type: aws_iam
    id: a-descriptive-id
    severity: warning
    enabled: false
    access_key:
    access_key_secret:
    maximum_user_inactivity_days: 180
    maximum_access_key_inactivity_days: 90
    minimum_password_length: 18
    maximum_password_age: 180

  - type: aws_security_groups
    id: a-descriptive-id
    severity: warning
    enabled: false
    access_key:
    access_key_secret:
    critical_ports_inbound:
      - tcp/22
      - tcp/445
      - tcp/139
      - tcp/3389
      - udp/3389
      - tcp/3306
    critical_ports_outbound:
      - udp/53
      - tcp/21
      - tcp/25
      - tcp/465
      - tcp/587

  - type: github_organization
    id: a-descriptive-id
    severity: critical
    enabled: false
    organization_name:
    username:
    access_key:

  - type: slack_team
    id: a-descriptive-id
    severity: critical
    enabled: false
    oauth_token:

  - type: website_download
    id: a-descriptive-id
    severity: emergency
    enabled: false
    url:
    css_selector:
    css_selector_index: 0
    expected_sha256_checksum:
    archive_matched_files: false
    archive_mismatched_files: true

  - type: website_link_target
    id: a-descriptive-id
    severity: emergency
    enabled: false
    url:
    css_selector:
    css_selector_index: 0
    expected_target:
    archive_mismatches: true
    archive_matches: false

  - type: dns
    id: a-descriptive-id
    severity: emergency
    enabled: false
    dns_server: 8.8.8.8
    dns_question:
    dns_question_type:
    expected_answer:
      -
      -